html
         head(lang="en")
             title=SPA
             meta
             link(rel="stylesheet" type="text/css" href="/client.css")
         body
         script(src="/client.js" type="text/javascript")