html
         head(lang="en")
             title=SPA
             meta
             link(rel="stylesheet" type="text/css" href="/client.css")
         body
         div(id='root')
         script(src="/echarts.min.js" type="text/javascript")
         script(src="/client.js" type="text/javascript")
